<section class='banner'>
    <!--=include header.html -->
    <div class="wrapper banner__wrapper">
        <div class="banner__content">
            <h1 class="banner__content_header">
                We create interioir design at the junction of art, 
science and human expierence
            </h1>
            <h2 class="banner__content_subheader">
                Look at our projects. We made it with love
            </h2>
            <div class="banner__content_btn common-btn">
                <a href="#prog" class="banner__content_link common-btn__link">Our projects</a>
            </div>
        </div>
    </div>
</section>