<section class="images">
    <div class="wrapper images__wrapper">
        <div class="images__content" id="prog">
            <h2 class="subheader" >Last Pojects</h2>
            <p class="common-text">We are glad to present you our latest works</p>
            <div class="images__content_blocks">
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_london.jpg" alt=""></div>
                    <p class="image-block__text">London Flat</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_kyiv.jpg" alt=""></div>
                    <p class="image-block__text">Kyiv Loft</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_newYork.jpg" alt=""></div>
                    <p class="image-block__text">New York Style</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_city.jpg" alt=""></div>
                    <p class="image-block__text">City Power</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_minimalist.jpg" alt=""></div>
                    <p class="image-block__text">Minimalist</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_future.jpg" alt=""></div>
                    <p class="image-block__text">Future Bar</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_minimalist.jpg" alt=""></div>
                    <p class="image-block__text">Minimalist</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_minimalist.jpg" alt=""></div>
                    <p class="image-block__text">Minimalist</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
                <div class="images__content_block image-block">
                    <div class="image-block__img"><img src="../images/src/images_minimalist.jpg" alt=""></div>
                    <p class="image-block__text">Minimalist</p>
                    <div class="image-block__btn common-btn"><a href="" class="image-block__btn_link common-btn__link">More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>