<section class='info'>
    <div class="wrapper info__wrapper">
        <div class="info__content">
            <h2 class="subheader" id="about">
                About us
            </h2>
            <p class="common-text">
                PR is a global firm of architects, designers, strategists, and specialists. We focus exclusively on environments through the lens of interior architecture—a radical idea in 1984, when PR was founded. We are highly connected agents of change, committed to creativity, innovation, growth, & our communities.
            </p>
            <div class="info__content_blocks">
                <div class="info__content_block info-block">
                    <img src="../images/src/info_international.svg" alt="" class="info-block__image">
                    <p class="info-block__big-text">Global Company</p>
                    <p class="info-block__small-text">We are a large international company with many branches</p>
                </div>
                <div class="info__content_block info-block">
                    <img src="../images/src/info_hands.svg" alt="" class="info-block__image">
                    <p class="info-block__big-text">Professional Team</p>
                    <p class="info-block__small-text">A team of professionals with extensive experience in complex design</p>
                </div>
                <div class="info__content_block info-block">
                    <img src="../images/src/info_heart.svg" alt="" class="info-block__image">
                    <p class="info-block__big-text">We Love Out Work</p>
                    <p class="info-block__small-text">We really love what we do and do it perfectly</p>
                </div>
            </div>
        </div>
    </div>
</section>