<section class="team">
    <div class="wrapper team__wrapper">
        <div class="team__content">
            <h2 class="subheader" id="blog">Our Team Member</h2>
            <p class="common-text"> Our team is the secret to our success. The PR team is a tight-knit, talented group with a shared vision of delivering consistently great results for our clients, as well as ensuring the agency is a fun, inclusive, challenging place to work and develop a rewarding career.</p>
            <div class="team__content_members members">
                <div class="members__block">
                    <div class="members__block_img"><img src="../images/src/alexa-biru.jpg" alt=""></div>
                    <p class="members__block_name">Alexa Biru</p>
                    <p class="members__block_position">PR CEO</p>
                    <!--=include networks.html -->
                </div>
                <div class="members__block">
                    <div class="members__block_img"><img src="../images/src/john-doe.jpg" alt=""></div>
                    <p class="members__block_name">John Doe</p>
                    <p class="members__block_position">General Manager</p>
                    <!--=include networks.html -->
                </div>
                <div class="members__block">
                    <div class="members__block_img"><img src="../images/src/cara-lale.jpg" alt=""></div>
                    <p class="members__block_name">Cara Lale</p>
                    <p class="members__block_position">General Designer</p>
                    <!--=include networks.html -->
                </div>
            </div>
        </div>
    </div>
</section>/